@model RahalWeb.Models.PasswordDatum

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .card {
        border-radius: 10px;
    }

    .card-header {
        border-radius: 10px 10px 0 0 !important;
    }

    .form-label {
        font-weight: 500;
    }

    h5 {
        color: #0d6efd;
    }
</style>


<div class="container mt-4" dir="rtl">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0" style="color:white">إضافة مستخدم جديد</h4>
        </div>
        <div class="card-body">
            <form asp-action="ChangePassword" class="row g-3">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserName" />
                <input type="hidden" asp-for="UserFullName" />
                <input type="hidden" asp-for="UserMobile" />
                <input type="hidden" asp-for="UserEmail" />
                <input type="hidden" asp-for="UserAdmin" />
                <input type="hidden" asp-for="CompView" />
                <input type="hidden" asp-for="CompSave" />
                <input type="hidden" asp-for="CompDelete" />
                <input type="hidden" asp-for="EmpView" />
                <input type="hidden" asp-for="EmpSave" />
                <input type="hidden" asp-for="EmpDelete" />
                <input type="hidden" asp-for="EmpArchive" />
                <input type="hidden" asp-for="CarView" />
                <input type="hidden" asp-for="CarSave" />
                <input type="hidden" asp-for="Cardelete" />
                <input type="hidden" asp-for="CarArchive" />
                <input type="hidden" asp-for="ContractDailyView" />
                <input type="hidden" asp-for="ContractDailySave" />
                <input type="hidden" asp-for="ContractDailyEnd" />
                <input type="hidden" asp-for="ContractMonthlyView" />
                <input type="hidden" asp-for="ContractMonthlySave" />
                <input type="hidden" asp-for="ContractMonthlyEnd" />
                <input type="hidden" asp-for="ContractChangeCar" />
                <input type="hidden" asp-for="ContractArchive" />
                <input type="hidden" asp-for="PayView" />
                <input type="hidden" asp-for="PaySave" />
                <input type="hidden" asp-for="PayDelete" />
                <input type="hidden" asp-for="DebitView" />
                <input type="hidden" asp-for="DebitSave" />
                <input type="hidden" asp-for="DebitDelete" /> 
                <input type="hidden" asp-for="VacationView" />


                <div class="col-md-12 mt-3">
                    <h5 class="border-bottom pb-2">كلمة المرور  </h5>
                </div>
                <div class="col-md-3">
                    <label asp-for="Password" class="form-label">كلمة المرور</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>


                <div class="d-flex justify-content-between">
                    <a asp-action="index" class="btn btn-outline-secondary">
                        <i class="fas fa-arrow-left"></i> العوده للصفحة الرئيسية
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> إضافة مستخدم
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>