@model RahalWeb.Models.DebitPayInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>DebitPayInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DebitPayNo" class="control-label"></label>
                <input asp-for="DebitPayNo" class="form-control" />
                <span asp-validation-for="DebitPayNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebitPayDate" class="control-label"></label>
                <input asp-for="DebitPayDate" class="form-control" />
                <span asp-validation-for="DebitPayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebitPayQty" class="control-label"></label>
                <input asp-for="DebitPayQty" class="form-control" />
                <span asp-validation-for="DebitPayQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteFlag" class="control-label"></label>
                <input asp-for="DeleteFlag" class="form-control" />
                <span asp-validation-for="DeleteFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViolationId" class="control-label"></label>
                <select asp-for="ViolationId" class="form-control" asp-items="ViewBag.ViolationId"></select>
                <span asp-validation-for="ViolationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRecievedId" class="control-label"></label>
                <select asp-for="UserRecievedId" class="form-control" asp-items="ViewBag.UserRecievedId"></select>
                <span asp-validation-for="UserRecievedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRecievedDate" class="control-label"></label>
                <input asp-for="UserRecievedDate" class="form-control" />
                <span asp-validation-for="UserRecievedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hent" class="control-label"></label>
                <input asp-for="Hent" class="form-control" />
                <span asp-validation-for="Hent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteReson" class="control-label"></label>
                <input asp-for="DeleteReson" class="form-control" />
                <span asp-validation-for="DeleteReson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebitInfoId" class="control-label"></label>
                <select asp-for="DebitInfoId" class="form-control" asp-items="ViewBag.DebitInfoId"></select>
                <span asp-validation-for="DebitInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

