@model RahalWeb.Models.Vacation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="company-info-container" dir="rtl">
    <div class="company-info-header">
        <h4>بيانات الأجازات</h4>
        <div class="action-buttons">
            @*  <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">تعديل</a> *@
            <a asp-action="Index" class="btn btn-secondary">العوده لصفحة الديون</a>
        </div>
    </div>

    <div class="company-info-body" dir="rtl">
        <div class="row">
            <div class="col-md-6">
                <div class="info-section">
                    <h5>البيانات العامة</h5>
                    <div class="info-item">
                        <label>رقم الموظف</label>
                        <span>@Html.DisplayFor(model => model.Emp!.EmpCode)</span>
                    </div>
                    <div class="info-item">
                        <label>اسم الموظف</label>
                        <span>@Html.DisplayFor(model => model.Emp!.FullNameAr)</span>
                    </div>
                    <div class="info-item">
                        <label>من تاريخ </label>
                        <span>@Html.DisplayFor(model => model.FromDate)</span>
                    </div>
                    <div class="info-item">
                        <label>إلى تاريخ </label>
                        <span>@Html.DisplayFor(model => model.ToDate)</span>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>